<div class="div-conteiner">

    <mat-card class="card-resumo">
        <mat-card-title class="card-titulo">
          Turmas
              <button mat-stroked-button color="primary" class="botao" [routerLink]="'/turma/create'">
                <mat-icon>add</mat-icon>Adicionar
              </button>

        </mat-card-title>

        <mat-card-content class="card-content">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef class="th-acoes"> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icone com menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/turma/detail/{{element.id}}">
              <mat-icon>post_add</mat-icon>
              <span>Gerenciar</span>
            </button>
            <button mat-menu-item (click)="deletar(element)">
              <mat-icon>delete</mat-icon>
              <span>Remover</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </mat-card-content>
    </mat-card>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
