<div class="div-conteiner">

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Competência</ng-template>

        <div class="flex-container wrap">
          <mat-form-field class="flex-item" appearance="standard">
            <mat-label>Nome</mat-label>
            <input matInput name="nome" [(ngModel)]="competencia.nome" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <mat-form-field class="flex-item" appearance="standard">
            <mat-label>Descrição</mat-label>
            <input matInput name="descricao" [(ngModel)]="competencia.descricao" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>

        <div class="flex-container-botao2">
          <button mat-raised-button [routerLink]="'/competencia'">Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>Prosseguir</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Conhecimentos</ng-template>

        <div class="flex-container wrap">
          <table mat-table [dataSource]="conhecimentos" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row.id) : null"
                              [checked]="selection.isSelected(row.id)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row.id)">
            </tr>
          </table>
        </div>

        <div class="flex-container-botao2">
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>Prosseguir</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Habilidades</ng-template>

        <div class="flex-container wrap">
          <table mat-table [dataSource]="habilidades" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle2() : null"
                  [checked]="selection2.hasValue() && isAllSelected2()"
                  [indeterminate]="selection2.hasValue() && !isAllSelected2()" [aria-label]="checkboxLabel2()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection2.toggle(row.id) : null"
                              [checked]="selection2.isSelected(row.id)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection2.toggle(row.id)">
            </tr>
          </table>
        </div>

        <div class="flex-container-botao2">
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>Prosseguir</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Atitudes</ng-template>

        <div class="flex-container wrap">
          <table mat-table [dataSource]="atitudes" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle3() : null"
                  [checked]="selection3.hasValue() && isAllSelected3()"
                  [indeterminate]="selection3.hasValue() && !isAllSelected3()" [aria-label]="checkboxLabel3()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection3.toggle(row.id) : null"
                              [checked]="selection3.isSelected(row.id)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection3.toggle(row.id)">
            </tr>
          </table>
        </div>

        <div class="flex-container-botao2">
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>Prosseguir</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmação</ng-template>
      <div class="div-conteiner">
        <mat-card>

          <form>
            <mat-card-content>

              <div class="flex-container wrap">
                <mat-form-field class="flex-item" appearance="standard">
                  <mat-label>Nome</mat-label>
                  <input matInput name="nome" [(ngModel)]="competencia.nome" [ngModelOptions]="{standalone: true}"
                    disabled>
                </mat-form-field>

                <mat-form-field class="flex-item" appearance="standard">
                  <mat-label>Descrição</mat-label>
                  <input matInput name="descricao" [(ngModel)]="competencia.descricao"
                    [ngModelOptions]="{standalone: true}" disabled>
                </mat-form-field>
              </div>
              <div class="flex-container wrap">
                  <mat-accordion class="expansion-panel">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              Conhecimentos Selecionados
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <table mat-table [dataSource]="selection.selected" class="mat-elevation-z8">

                            <ng-container matColumnDef="select">
                              <th mat-header-cell *matHeaderCellDef> No. </th>
                              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="descricao">
                              <th mat-header-cell *matHeaderCellDef> Descrição </th>
                              <td mat-cell *matCellDef="let element"> {{getDescricaoConhecimento(element)}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                      </mat-expansion-panel>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Habilidades Selecionadas
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <table mat-table [dataSource]="selection2.selected" class="mat-elevation-z8">

                            <ng-container matColumnDef="select">
                              <th mat-header-cell *matHeaderCellDef> No. </th>
                              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="descricao">
                              <th mat-header-cell *matHeaderCellDef> Descrição </th>
                              <td mat-cell *matCellDef="let element"> {{getDescricaoHabilidade(element)}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>

                      </mat-expansion-panel>

                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Atitudes Selecionadas
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <table mat-table [dataSource]="selection3.selected" class="mat-elevation-z8">

                            <ng-container matColumnDef="select">
                              <th mat-header-cell *matHeaderCellDef> No. </th>
                              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="descricao">
                              <th mat-header-cell *matHeaderCellDef> Descrição </th>
                              <td mat-cell *matCellDef="let element"> {{getDescricaoAtitudes(element)}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>

                      </mat-expansion-panel>
                    </mat-accordion>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
      </div>
      <div class="flex-container-botao2">
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary" matStepperNext (click)="salvar()">Salvar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
