<div class="div-conteiner">

  <mat-card class="card-resumo">
    <mat-card-title class="card-titulo">
      Tarefas
      <button mat-stroked-button color="primary" class="botao" [routerLink]="'/tarefa/create'">
        <mat-icon>add</mat-icon>Adicionar
      </button>
    </mat-card-title>
    <mat-card-content class="card-content">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="datalimite">
          <th mat-header-cell *matHeaderCellDef> Data limite </th>
          <td mat-cell *matCellDef="let element"> {{element.dataLimite  | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="autoavaliacao">
          <th mat-header-cell *matHeaderCellDef> Autoavaliação? </th>
          <td mat-cell *matCellDef="let element"> {{element.avaliacaoAluno ? 'Sim' : 'Não'}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="th-acoes"> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icone com menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  routerLink="/avaliacao/{{element.id}}">
                <mat-icon>input</mat-icon>
                <span>Avaliar</span>
              </button>
              <button mat-menu-item routerLink="/tarefa/{{element.id}}">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="deletar(element)">
                <mat-icon>delete</mat-icon>
                <span>Remover</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
  </mat-card>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
