<div class="div-conteiner">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Rubrica</ng-template>

        <div class="flex-container wrap">
          <mat-form-field class="flex-item2" appearance="standard">
            <mat-label>Descrição</mat-label>
            <input matInput name="descricao" [(ngModel)]="rubrica.descricao" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>

        <div class="flex-container-botao2">
          <button mat-raised-button [routerLink]="'/rubrica'">Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>Prosseguir</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Critérios</ng-template>
        <div class="flex-container-botao">
          <button mat-mini-fab color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="flex-container wrap">
          <table mat-table [dataSource]="criterios" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </div>

        <div class="flex-container-botao2">
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" matStepperNext>Prosseguir</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirmação</ng-template>

      <mat-card class="card-resumo">
        <mat-card-title class="card-titulo">
          Resumo da Rubrica
        </mat-card-title>
        <mat-card-content class="card-content">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Rubrica
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="example-container">

                <mat-form-field>
                  <textarea matInput placeholder="Descrição" name="descricao" [(ngModel)]="rubrica.descricao" [ngModelOptions]="{standalone: true}" disabled></textarea>
                </mat-form-field>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Critérios
                </mat-panel-title>
              </mat-expansion-panel-header>

              <table mat-table [dataSource]="selection.selected" class="mat-elevation-z8">

                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="descricao">
                  <th mat-header-cell *matHeaderCellDef> Descrição </th>
                  <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>

      <div>
        <div class="flex-container-botao2">
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="primary" (click)="salvarRubrica()">Salvar</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
